.jumbotron h2 {
  font-family: 'Julius Sans One', sans-serif;
}

*::-webkit-scrollbar {
  width: .7em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#resultsBody {
  max-height: 400px;
  overflow-y: scroll;
}
